# ide
/.settings
/.buildpath
/.project
/.idea

# acidfarm
/sys/server.php
/sys/stats/
/sys/stats.tpl
/sys/update/cur_version.txt
/sys/update/*/cur_version.txt


#registration
/registration/private/maintenance.json
/registration/private/backup/

# acidfarm folders
/acid/logs/
/logs/
/upload/
/files/

#sass
/theme/*/*/compiled/*
/theme/*/css/scss_cache/
/theme/*/css/sass/_dynamic/*
*.css.map

# acifarm htaccess
/.htaccess
/rest/.htaccess


#codeception
/sys/tests/codeception/_output/*