# ide
/.settings
/.buildpath
/.project
/.idea

# acidfarm
/sys/server.php
/sys/stats/
/sys/stats.tpl
/sys/update/cur_version.txt
/sys/update/*/cur_version.txt

#registration
/registration/private/maintenance.json
/registration/private/backup/

# acidfarm folders
/acid/logs/
/logs/
/upload/
/files/

# acifarm htaccess
/.htaccess
/rest/.htaccess

#sass / compiler
/theme/*/*/compiled/*
/theme/*/css/scss_cache/
/theme/*/css/sass/_dynamic/*
*.css.map

# composer
vendor/
composer.lock
composer.json

#bower
bower_components
.bower-cache
.bower-registry
.bower-tmp

#npm
node_modules/

#codeception
/sys/tests/codeception/_output/*