# eclipse
/.settings
/.buildpath
/.project

# acidfarm
/sys/server.php
/sys/stats/
/sys/update/cur_version.txt
/sys/upgrade/cur_version.txt

# acidfarm folders
/logs/
/upload/
/files/

# acifarm htaccess
/.htaccess
/rest/.htaccess