@import '/sass/config';
@import '/sass/fonts/fonts';
//@import '/sass/bootstrap';

$white:#FFFFFF;
$black:#1C1C1C;
$green1:#96c11f;
$green2:#3f570a;
$grey1:#C0C0C0;
$grey2:#7a7a7a;

$bgcolor:$grey1;
$sitecolor:$black;
$fontcolor:$black;
$titlecolor:$black;
$linkcolor:$green2;
$linkhovercolor:$grey2;

$site_width:1000px;
$content_padding:20px;
$content_width:$site_width - (2*$content_padding);

//-----GENERAL-----

html, body { 
  height:100%;  
  margin:0px; 
  padding:0px; 
  font-size:9pt; 
  font-family: arial; 
  background-color:$bgcolor; 
  color:$fontcolor;
}

body{ 
  margin:auto; 
}

a {
  color:$linkcolor;
  
  &:focus{
    outline:none;
  }
  
  &, &:hover, &.selected {
    text-decoration:none;
  }
  
  &:hover{
    color:$linkhovercolor;
  }
}

img{
  border-width:0px; 
  display:block;
  
  &.picto{
    display:inline-block; 
    vertical-align:middle; 
    margin-top:-3px;
  }
}

.clear{
  position:relative;
  height:0px;
  clear:both;
}

.first{
  margin-top:0px;
}

.without_margin{
  margin:0px;
}


@each $tag in h1, h2, h3, h4 {
  
  #{$tag} {
    &, & a{
      color:$titlecolor;
    }
  }
  
} 

h1{
  margin:15px auto;
  
  &:first-child{
    margin-top:0px;
  }  
}

h2{
  margin:15px auto; 
  font-size:14px;
}

h3{
  margin:15px auto; 
  font-size:13px;
}

h4{
  margin:10px auto; 
  font-size:12px;
  font-weight:normal;
}

p{
  margin:5px auto;
}

hr{ 
  border:0px solid $fontcolor; 
  height:1px; 
  background-color:$fontcolor; 
  color:$fontcolor;  
}

input, textarea{
  padding:5px;
  border:1px solid $grey1;
  margin-bottom:2px;
  height:25px;

  @include border-box();

  &[type=radio], &[type=checkbox] {
    margin-bottom:0px;
    height:auto;
  }

  &[type=button], &[type=submit], &[type=image] {
    cursor:pointer;
    padding:0px 3px;
  }
}

textarea{
  min-height:75px;
}

//-----STRUCTURE-----

#header{
  position:absolute; 
  top:0px; 
  height:180px;
  min-width:100%;  
  background-color:$sitecolor; 
  text-align:center; 
  color:$white;
  
  #header_content{
    width:$content_width;  
    padding:10px $content_padding;  
    margin:auto;
    
    #header_logo_link{
      display:table; margin:auto; 
      
      #header_logo{
        margin:10px 0px;
      }
    }    
  }
}

#wrapper{
  min-height:100%;
  
  #container{
    padding-top:230px; 
    padding-bottom:100px;
    
    #content{
      width:$content_width;  
      padding:20px $content_padding;   
      margin:auto;
      border:1px solid $black; 
      background-color:$white;   
      min-height:100px;
    }
    
  }
  
}

#footer{
  position:absolute; 
  margin-top:-50px; 
  height:50px; 
  min-width:100%; 
  background-color:$sitecolor; 
  text-align:center; 
  color:$white;
  
  #footer_content{
   width:$content_width;  
   padding:10px $content_padding;  
   line-height:30px;  
   margin:0px auto;
    
   a{
      color:$green1;
      
      &:hover{
        color:$linkhovercolor;
      }
    }
    
    #footer_flags{
      float:right;
      
      a{
        float:left; 
        margin:0px 2px;
      }
    }
  }
    
}

#stats_content{ 
  position:absolute; 
  height:0px; 
  width:0px; 
  left:0px; 
}


//-----MENU-----

#menu_block{
  padding:15px 0px;
  font-size:16px; 
   
  #nav {
    #menu{
      padding:0;
      margin:0;
      
      li{
        &:nth-child(n+1){
          &:before{
            color:$white; 
            padding-left:8px; 
            padding-right:8px; 
            content: "";
          }
        }
        &:first-child{
          &:before{
            color:$white;  
            content: "";
            padding:0px;
          } 
        }
      }      
    }
  }
  
  .menu{
    &, a{
      color:$white;
      
      &:hover{
         color:$linkhovercolor;
      }
    } 
    
    &.selected {
      &, a{
        color:$green1;
      }  
    }
  }
  
}


//-----ARIANE-----

#ariane{ 
  background-color:rgba($black,0.2); 
  height:20px; 
  line-height:20px; 
  font-size:11px; 
  position:absolute; 
  bottom:-20px; 
  text-align:left; 
  padding:0px 5px; 
  margin-top:10px; 
  
  a{
    color:$sitecolor;
    
    &:hover{
      color:$grey2;
    }
  }
}


//-----PAGINATION-----

.pagination{ 
  width:100%; 
  text-align:center; 
  padding-top:15px; 
  margin-top:15px;  
  border:0px solid $black; 
  border-top-width:1px;  
}

.nav_prev{  
  float:left; 
}

.nav_next{  
  float:right; 
}


//-----PAGE-----

header{
  border:none; 
  background:none; 
  padding:0px; 
  text-align:left; 
  color:$fontcolor;
}

section {
  header{
    
  }
  
  article{
    header{
      
    }
    footer{
      
    }
  }
  
  footer{
    
  }
}


//-----ACTUS-----

.block_news_list {
  .news_list_image {
    float:left; 
    padding-right:5px; 
  }
  .news_list_content{
    float:left; 
  }
}


//-----NAV-----

@each $tag in "#nav", nav  {
  #{$tag}{
    ul {
      list-style: none; 
      padding:0px; 
      margin:0px;
      
      li{
        display:inline;
      }
    }
    
    .navigation_selected{ 
      font-weight:normal; 
    }
    
    .navigation_unselected{ 
      font-weight:bold; 
    }
  }
}


//-----HOME-----

#home_diaporama{ 
  margin-bottom:15px; 
  
  .carousel_container{ 
    width:100%; 
  }
  .carousel_container_list{ 
    width:100%; 
    padding:0px; 
    list-style-type:none;  
  }
  .carousel_item{ 
    list-style-type:none;  
    width:100%; 
  }
  
  .slick-next{ 
    right:3px; 
    text-align:right;  
   }
   .slick-prev{ 
     left:-3px; 
     text-align:left;  
   }
   .slick-slider{
     margin-bottom:0px; 
   }
   .slick-dots{ 
     position:relative; 
     bottom:0px;  
   }
}


//-----CONTACT-----

#contact{
  #contact_left{
    @include border-box(); 
    float:left; 
    width:50%;
    padding-right:2%;
  }
  #contact_right{
    @include border-box();
    float:right; 
    width:50%;
    padding-left:2%;
  }
  #block_gmap{ 
    @include border-box();
    height:300px; 
    width:100%;
    overflow:hidden;
    position:relative;
  }
  #contact_form{
    input, textarea{
      @include border-box();
      width:100%;
    }
  }
}


//-----WALLART-----
$nb_per_row:4;
$wall_width:960px;
$wall_elt_width:$wall_width/4;
#gallery_wall{ 
  width:$wall_width; 
  margin:auto; 
  
  .wall_elt{
    float:left;
    position:relative; 
    width:$wall_elt_width; 
    height:$wall_elt_width; 
    background-color:$white;
    .wall_elt_overlay{
      display:none;
      position:absolute; 
      top:0px;
      left:0px;
      right:0px;
      bottom:0px;
      background-color:rgba($black,0.8);
    }
   
    &:hover .wall_elt_overlay{
      display:table;
      width:$wall_elt_width; 
      height:$wall_elt_width; 
      .wall_elt_overlay_content{
         display:table-cell;
         height:100%;
         width:100%;
         vertical-align:middle;
         color:$white;
         font-weight:bold;
      }    
    }
    
  }
  .wall_elt_bg{
    display:table; 
    width:$wall_elt_width; 
    height:$wall_elt_width;
    text-align:center; 
    vertical-align:middle;
  }
  .wall_elt_body{
    display:table-cell; 
    width:$wall_elt_width; 
    height:$wall_elt_width; 
    text-align:center; 
    vertical-align:middle;
  }
  .wall_elt_img{
    margin:auto;
  }

}