.dialog_notification {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 30px;
  line-height: 20px;
  z-index: 2000;
  background: #fff;
  border: 2px solid #f0f0f0;
  border-top-width: 0px;
  padding: 10px;
  padding-right:25px;
  color: #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .dialog_notification .dialog_notification_close {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 10px;
    width: 20px;
    z-index: 2100; }
  @media screen and (max-width: 640px) {
    .dialog_notification {
      padding-right: 10px;
    }
    .dialog_notification .dialog_notification_close {
      font-size: 20px;
      height: auto;
      left: auto;
      position: relative;
      right: auto;
      text-align: right;
      top: auto;
      width: auto;
    }
 }
.bwin {
  z-index: 1005; }
  .bwin .bwin_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 1000; }
  .bwin .bwin_content {
    padding: 30px; }
  .bwin .bwin_cadre {
    position: absolute;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    font-size: 8pt;
    background-color: #fff;
    opacity: 1;
    color: #000;
    border: 0px solid #333;
    z-index: 1010;
    background-position: top center;
    height: 300px; }
  .bwin .bwin_title {
    padding: 10px; }
  .bwin .bwin_close {
    position: absolute;
    top: 10px;
    margin-left: 760px;
    width: 13px;
    height: 13px; }
  .bwin .bwin_loading {
    text-align: center;
    margin-top: 100px; }

#dialog {
  font-family: helvetica; }
  #dialog #dialog_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 1000; }
  #dialog #dialog_box {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    font-size: 8pt;
    opacity: 1;
    color: #000;
    z-index: 1010; }
    #dialog #dialog_box a {
      text-decoration: underline; }
    #dialog #dialog_box #dialog_btnok {
      background-color: #333;
      padding: 12px 15px;
      text-align: center;
      -webkit-border-bottom-left-radius: 10px;
      -moz-border-bottom-left-radius: 10px;
      -ms-border-bottom-left-radius: 10px;
      border-bottom-left-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      -moz-border-bottom-right-radius: 10px;
      -ms-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px; }
      #dialog #dialog_box #dialog_btnok a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border: solid 1px #fff;
        padding: 5px 15px;
        display: inline-block;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px; }
        #dialog #dialog_box #dialog_btnok a:hover {
          color: #333;
          text-decoration: underline;
          background-color: #fff;
          border-color: #fff; }
  #dialog #dialog_titre {
    font-weight: bold;
    color: #fff;
    /*border-bottom: solid 1px $blanc;*/
    padding: 15px;
    background-color: #333;
    font-size: 12pt;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    border-top-right-radius: 10px; }
  #dialog #dialog_content {
    padding: 15px;
    font-size: 9pt;
    background-color: #fff;
    border: solid 1px #333; }
    #dialog #dialog_content h1, #dialog #dialog_content h2, #dialog #dialog_content h3, #dialog #dialog_content h4 {
      font-weight: bold; }
  #dialog .dialog_classic {
    padding: 4px;
    background-image: url('../img/picto_classic.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 22px; }
  #dialog .dialog_valid {
    padding: 4px;
    background-image: url('../img/picto_valid.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 22px; }
  #dialog .dialog_error {
    padding: 2px;
    background-image: url('../img/picto_error.png');
    background-repeat: no-repeat;
    /*min-height: 22px;*/
    background-position: right bottom;
    font-size: 8pt; }

#dialog_banner {
  font-family: helvetica;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 990; }
  #dialog_banner #dialog_banner_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 995;
    cursor: pointer; }
  #dialog_banner #dialog_banner_box {
    position: relative;
    margin: auto;
    width: 500px;
    font-size: 8pt;
    background-color: #fff;
    opacity: 1;
    color: #000;
    border: solid 1px #333;
    z-index: 999;
    cursor: pointer; }
  #dialog_banner #dialog_banner_titre {
    font-weight: bold;
    color: #fff;
    /*border-bottom: solid 1px $blanc;*/
    padding: 4px;
    background-color: #333;
    font-size: 10pt; }
  #dialog_banner #dialog_banner_toggle {
    float: right;
    display: block;
    text-decoration: none; }
    #dialog_banner #dialog_banner_toggle a:active, #dialog_banner #dialog_banner_toggle a:hover, #dialog_banner #dialog_banner_toggle a:link, #dialog_banner #dialog_banner_toggle a:visited {
      color: #fff; }
    #dialog_banner #dialog_banner_toggle #dialog_banner_toggle_inner {
      width: 20px;
      text-align: center; }
  #dialog_banner #dialog_banner_content {
    padding: 10px;
    font-size: 8pt; }
