/*------------------------------------*/
/* Code couleurs :
/* noir : #000000
/*------------------------------------*/
html, body { height:100%;  margin:0px; padding:0px; font-size:9pt; font-family: arial; background-color:#C0C0C0; }
body{ margin:auto; }

a:focus{ outline:none; }
a , a:hover, a.selected{  text-decoration:none; }

a{ color:#3F570A; }
a:hover{ color:#7A7A7A; }

img{ border-width:0px; display:block; }
img.picto{ display:inline-block; vertical-align:middle; margin-top:-3px;  }

.clear{position:relative; height:0px; clear:both;}
.first{margin-top:0px;}
.without_margin{margin:0px;}

h1,h2,h3,h4{ color:#000000;}
h2{margin:15px auto; font-size:12pt;}
h3{margin:15px auto; font-size:11pt;}
h4{margin:10px auto; font-size:10pt; font-weight:normal;}

h1:first-child{ margin-top:0px; }

p{margin:5px auto;}

hr{ border:0px solid #000000; height:1px; background-color:#000000; color:#000000;  }

#wrapper{ min-height:100%; }
#container{ padding-top:230px; padding-bottom:100px; }
#header_content, #footer_content, #content { width:780px;  padding:10px 20px;  margin:auto; }

#content { border:1px solid #1C1C1C; background-color:#FFFFFF; padding:20px;  min-height:100px;}

#header{ position:absolute; top:0px; height:180px; min-width:100%;  background-color:#1C1C1C; text-align:center; color:#FFFFFF; }
#header_content #header_logo{ margin:10px 0px;}
#header_content #header_logo_link{  display:table; margin:auto; }

#footer{ position:absolute; margin-top:-50px; height:50px; min-width:100%; background-color:#1C1C1C; text-align:center; color:#FFFFFF; }
#footer a{ color:#96C11F; }
#footer_flags{ float:right; }
#footer_flags a{ float:left; margin:0px 2px;  }


#stats_content{ position:absolute; height:0px; width:0px; left:0px; }


/*MENU*/

#menu li:nth-child(n+1):before { color:#000000;	padding-left:5px; padding-right:5px; content: "-"; }
#menu li:first-child:before { color:#000000;  content: ""; }

#menu_block{ padding:15px 0px; font-size:16px; }
#menu_block a{ color:#FFFFFF; }

#menu_block .menu.selected a{ color:#7A7A7A; }


/*ARIANE*/

#ariane{ background-color:rgba(28,28,28,0.2); height:20px; line-height:20px; font-size:11px; position:absolute; bottom:-20px; text-align:left; padding:0px 5px; margin-top:10px; }
#ariane a { color:#4F4F4F; }
#ariane a:hover, #footer a:hover{ color:#7A7A7A; }


/*PAGES*/

article header{	border:none; background:none; padding:0px; text-align:left; color:#000; }
section header{	border:none; background:none; padding:0px; text-align:left; color:#000; }


/*NAV*/

#nav ul, nav ul{ list-style: none; padding:0px; margin:0px; }
#nav ul li, nav ul li{	display:inline;}

.navigation_selected{ font-weight:normal; }
.navigation_unselected{ font-weight:bold; }


/*HOME*/

#home_diaporama{ margin-bottom:15px; }
#home_diaporama .carousel_container{ width:100%; }
#home_diaporama .carousel_container_list{ width:100%; padding:0px; list-style-type:none;  }
#home_diaporama .carousel_item{ list-style-type:none;  width:100%; }
#home_diaporama .slick-next{ right:3px; text-align:right;  }
#home_diaporama .slick-prev{ left:-3px; text-align:left;  }
#home_diaporama .slick-slider{margin-bottom:0px; }
#home_diaporama .slick-dots{ position:relative; bottom:0px;  }

/*CONTACT*/

#contact_left{ float:left; width:300px;}
#contact_right{ float:right; width:400px; }

#block_gmap{ height:200px; width:250px; }


/*WALLART*/

#gallery_wall{ width:720px; margin:auto; }
.wall_elt{ float:left; width:180px; height:180px; background-color:#FFFFFF; }
.wall_elt_bg{ display:table; width:180px; height:180px; text-align:center; vertical-align:middle; } 
.wall_elt_body{ display:table-cell; width:180px; height:180px; text-align:center; vertical-align:middle; } 
.wall_elt_img{ margin:auto; }